flows(5).json
[
    {
        "id": "ec71c7f945c1d769",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "02c60adef0b7318e",
        "type": "http request",
        "z": "ec71c7f945c1d769",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/onecall?lat=19.2833&lon=-99.1667&exclude=hourly,daily&appid=03afc27f695d67044e685f4a2edd8f2a&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 410,
        "y": 80,
        "wires": [
            [
                "988e7e8154760ec1"
            ]
        ]
    },
    {
        "id": "988e7e8154760ec1",
        "type": "json",
        "z": "ec71c7f945c1d769",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 590,
        "y": 80,
        "wires": [
            [
                "70acc53749b8a6d0",
                "3398a5dba53b88fc",
                "67cb5cb229f6ed3c"
            ]
        ]
    },
    {
        "id": "83e2c50b45a84965",
        "type": "inject",
        "z": "ec71c7f945c1d769",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "02c60adef0b7318e",
                "a8b183aa628b53ba"
            ]
        ]
    },
    {
        "id": "89af539f16c7f6ac",
        "type": "ui_gauge",
        "z": "ec71c7f945c1d769",
        "name": "",
        "group": "0ed5355633304fbd",
        "order": 1,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": "2",
        "max": "38",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1030,
        "y": 80,
        "wires": []
    },
    {
        "id": "7cce6ac3b048e7e7",
        "type": "ui_gauge",
        "z": "ec71c7f945c1d769",
        "name": "",
        "group": "0ed5355633304fbd",
        "order": 2,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1020,
        "y": 140,
        "wires": []
    },
    {
        "id": "70acc53749b8a6d0",
        "type": "function",
        "z": "ec71c7f945c1d769",
        "name": "temperatura",
        "func": "msg.payload = msg.payload.current.temp;\nglobal.set (\"tempFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 80,
        "wires": [
            [
                "89af539f16c7f6ac"
            ]
        ]
    },
    {
        "id": "3398a5dba53b88fc",
        "type": "function",
        "z": "ec71c7f945c1d769",
        "name": "Humedad",
        "func": "msg.payload = msg.payload.current.humidity;\nglobal.set (\"humFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 140,
        "wires": [
            [
                "7cce6ac3b048e7e7"
            ]
        ]
    },
    {
        "id": "21c3cf5dc70ca451",
        "type": "mqtt in",
        "z": "ec71c7f945c1d769",
        "name": "",
        "topic": "codigoIoT/G8/mosquitto/flow5",
        "qos": "2",
        "datatype": "auto",
        "broker": "1cf06c57c61f8fda",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 420,
        "wires": [
            [
                "1c8ab3915be4dcd1"
            ]
        ]
    },
    {
        "id": "1c8ab3915be4dcd1",
        "type": "json",
        "z": "ec71c7f945c1d769",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 410,
        "y": 420,
        "wires": [
            [
                "1c2e42bc8d539fc5",
                "8c4c03a8055c36af",
                "ac23c638918cb095",
                "c2fc922b6f0da765"
            ]
        ]
    },
    {
        "id": "1c2e42bc8d539fc5",
        "type": "function",
        "z": "ec71c7f945c1d769",
        "name": "Temperatura",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 420,
        "wires": [
            [
                "7f1829ae05a85472"
            ]
        ]
    },
    {
        "id": "7f1829ae05a85472",
        "type": "ui_chart",
        "z": "ec71c7f945c1d769",
        "name": "",
        "group": "59729c410bc9ad19",
        "order": 1,
        "width": 12,
        "height": 5,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "55",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "8c4c03a8055c36af",
        "type": "function",
        "z": "ec71c7f945c1d769",
        "name": "Humedad",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 480,
        "wires": [
            [
                "93c2e7d4bc1dabcf"
            ]
        ]
    },
    {
        "id": "93c2e7d4bc1dabcf",
        "type": "ui_chart",
        "z": "ec71c7f945c1d769",
        "name": "",
        "group": "59729c410bc9ad19",
        "order": 2,
        "width": 12,
        "height": 5,
        "label": "Humedad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "9b256939eb6c44c8",
        "type": "inject",
        "z": "ec71c7f945c1d769",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 720,
        "wires": [
            [
                "d876394decd94563"
            ]
        ]
    },
    {
        "id": "d876394decd94563",
        "type": "function",
        "z": "ec71c7f945c1d769",
        "name": "",
        "func": "msg.payload = '{\"id\":\"Karina\",\"temp\":'+global.get (\"tempFlow5\")+',\"hum\":'+global.get (\"humFlow5\")+',\"uv\":' +global.get (\"uvFlow5\")+',\"aqi\":'+global.get (\"aqiFlow5\")+'}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 700,
        "wires": [
            [
                "a7ffeb842b32c62a",
                "d87a4d8991b011aa"
            ]
        ]
    },
    {
        "id": "a7ffeb842b32c62a",
        "type": "debug",
        "z": "ec71c7f945c1d769",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 760,
        "wires": []
    },
    {
        "id": "d87a4d8991b011aa",
        "type": "mqtt out",
        "z": "ec71c7f945c1d769",
        "name": "",
        "topic": "codigoIoT/G8/mosquitto/flow5",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1cf06c57c61f8fda",
        "x": 690,
        "y": 700,
        "wires": []
    },
    {
        "id": "834b5149f5598546",
        "type": "comment",
        "z": "ec71c7f945c1d769",
        "name": "Solicitud API",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "2984d7dbf1ce9952",
        "type": "comment",
        "z": "ec71c7f945c1d769",
        "name": "Informacion General",
        "info": "",
        "x": 170,
        "y": 380,
        "wires": []
    },
    {
        "id": "256d0a6008ffc89f",
        "type": "comment",
        "z": "ec71c7f945c1d769",
        "name": "Enviador",
        "info": "",
        "x": 140,
        "y": 660,
        "wires": []
    },
    {
        "id": "67cb5cb229f6ed3c",
        "type": "function",
        "z": "ec71c7f945c1d769",
        "name": "UV",
        "func": "msg.payload = msg.payload.current.uvi;\nglobal.set (\"uvFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 200,
        "wires": [
            [
                "9ed2d68efc23a920"
            ]
        ]
    },
    {
        "id": "9ed2d68efc23a920",
        "type": "ui_gauge",
        "z": "ec71c7f945c1d769",
        "name": "",
        "group": "0ed5355633304fbd",
        "order": 3,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "UV",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "15",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "5",
        "seg2": "7",
        "className": "",
        "x": 1030,
        "y": 200,
        "wires": []
    },
    {
        "id": "a8b183aa628b53ba",
        "type": "http request",
        "z": "ec71c7f945c1d769",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://api.openweathermap.org/data/2.5/air_pollution?lat=19.2833&lon=-99.1667&appid=03afc27f695d67044e685f4a2edd8f2a",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 410,
        "y": 280,
        "wires": [
            [
                "1bb6b4c72293644a"
            ]
        ]
    },
    {
        "id": "1bb6b4c72293644a",
        "type": "json",
        "z": "ec71c7f945c1d769",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 610,
        "y": 280,
        "wires": [
            [
                "b749229388252502"
            ]
        ]
    },
    {
        "id": "b749229388252502",
        "type": "function",
        "z": "ec71c7f945c1d769",
        "name": "",
        "func": "msg.payload=msg.payload.list[0].main.aqi;\nglobal.set(\"aqiFlow5\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 280,
        "wires": [
            [
                "c80d56e01532126e"
            ]
        ]
    },
    {
        "id": "c80d56e01532126e",
        "type": "ui_gauge",
        "z": "ec71c7f945c1d769",
        "name": "",
        "group": "0ed5355633304fbd",
        "order": 4,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "Calidad del aire",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "3",
        "seg2": "4",
        "className": "",
        "x": 1040,
        "y": 280,
        "wires": []
    },
    {
        "id": "ac23c638918cb095",
        "type": "function",
        "z": "ec71c7f945c1d769",
        "name": "UV",
        "func": "msg.topic=msg.payload.id;\nmsg.payload=msg.payload.uv;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 540,
        "wires": [
            [
                "7cdc93a5e79e4643"
            ]
        ]
    },
    {
        "id": "c2fc922b6f0da765",
        "type": "function",
        "z": "ec71c7f945c1d769",
        "name": "",
        "func": "msg.topic=msg.payload.id;\nmsg.payload=msg.payload.aqi;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 600,
        "wires": [
            [
                "67d1171fd65b8b5b"
            ]
        ]
    },
    {
        "id": "7cdc93a5e79e4643",
        "type": "ui_chart",
        "z": "ec71c7f945c1d769",
        "name": "",
        "group": "59729c410bc9ad19",
        "order": 3,
        "width": 12,
        "height": 5,
        "label": "UV",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "15",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "67d1171fd65b8b5b",
        "type": "ui_chart",
        "z": "ec71c7f945c1d769",
        "name": "",
        "group": "59729c410bc9ad19",
        "order": 4,
        "width": 12,
        "height": 5,
        "label": "Calidad del aire",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "5",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "0ed5355633304fbd",
        "type": "ui_group",
        "name": "Personal",
        "tab": "7e6e878eeedf9671",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1cf06c57c61f8fda",
        "type": "mqtt-broker",
        "name": "",
        "broker": "35.157.252.226",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "59729c410bc9ad19",
        "type": "ui_group",
        "name": "General",
        "tab": "7e6e878eeedf9671",
        "order": 2,
        "disp": true,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7e6e878eeedf9671",
        "type": "ui_tab",
        "name": "Flow 5",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]